.linha {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.coluna {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.colunaDireita {
  display: flex;
  flex-flow: column wrap;
  float: right;
}
