.mapa {
  width: 100%;
  height: 100%;
}
.botoes1 {
  position: absolute;
  width: 40px;
  height: 180px;
  top: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.botoes2 {
  position: absolute;
  width: 40px;
  height: 180px;
  top: 50%;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-50%);
}
.botoes3 {
  position: absolute;
  width: 180px;
  height: 40px;
  bottom: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botao {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #509CBF;
  border: 0;
}
.botao:hover {
  cursor: pointer;
  background-color: rgb(37, 37, 240);
  transition: 0.2s;
}
.leaflet-control-zoom-out {
  position: relative;
  padding-left: 100px;
}
