.leaflet-control-zoom-out {
  position: relative;
  padding-left: 100px;
}
.logoutAnchor {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin-left: 20px;
  position: absolute;
  top: 92%;
}

.navMenuDrawer {
  margin-top: 70px;
  height: 35%;
}

.ulMenuDrawer {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  width: 310px;
  margin-left: 20px;
}

.ulMenuDrawer li {
  padding-top: 20px;
}

.ulMenuDrawer li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem; 
}

@media (max-width: 1500px) {
  .logoutAnchor {
    top: 90%;
  }
  .navMenuDrawer {
    margin-top: 40px;
    height: 35%;
  }
  .ulMenuDrawer {
    width: 260px;
  }
  .ulMenuDrawer li {
    padding-top: 10px;
  }
}
